#container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 0 48px;
}

@media (max-width: 1200px) {

    #main>img {
        width: 100%;
    }
}

@media (max-width: 1000px) {

    #main {
        justify-content: center;
    }

    .main__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__info p {
        text-align: center;
    }

    .main__info div {
        width: 100%;
    }

    #main>img {
        display: none;
    }
}

@media (max-width: 500px) {

    .main__info>img {
        width: 200px;
    }

    .main__info p {
        font-size: 13px;
    }

    .main__info div {
        column-gap: 16px;
    }

    .button {
        font-size: 14px;
    }
}

@media screen and (width <=380px) {

    .buttonMain,
    .buttonAux {
        display: none;
    }
}

@media (max-width: 999px) {

    #main {
        justify-content: center;
    }

    .main__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__info p {
        text-align: center;
    }

    .main__info div {
        width: 100%;
    }
}

@media screen and (max-height: 700px) {

    .main__info p {
        font-size: 12px;
    }
}

@media screen and (max-height: 400px) {

    .main__info p {
        font-size: 10px;
    }
}

@media (max-height: 700px) {

    #main {
        justify-content: center;
    }

    .main__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__info p {
        text-align: center;
    }

    .main__info div {
        width: 100%;
    }

    #main>img {
        display: none;
    }
}

@media (max-width: 1330px) {

    #main {
        justify-content: center;
    }

    .main__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main__info p {
        text-align: center;
    }

    .main__info div {
        width: 100%;
    }

    #main>img {
        display: none;
    }
}

@media (height <=770px) {

    #main>.simple-image {
        display: none;
    }

    #main {
        justify-content: center;
    }
}

@media (height <=330px) {

    .main__info {
        display: none;
    }
}

@media (max-height: 400px) and (max-width: 900px) {
    
    .main__info div {
        display: none;
    }
}