.button {
    cursor: pointer;
    border: 0;
    width: 100%;
    padding: 10px 0;
    border-radius: 3px;
    transform: skew(-10deg);
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.3px;
    text-decoration: none;
    color: var(--text);
}

.buttonMain {
    background: var(--maroon);
    border-radius: 20px;
    transition: 0.5s;
}

.buttonAux {
    background: transparent;
    border: 5px solid var(--purple);
    border-radius: 20px;
    transition: 0.5s;
}

button {
    background: var(--purple);
}

.buttonAux:hover {
    background-color: var(--red);
    color: var(--black);
    transition: 0.5s;
}

.buttonMain:hover {
    background-color: var(--green);
    color: var(--black);
    transition: 0.5s;
}

.simple-image {
    width: 550px;
    height: auto;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    margin-bottom: 14px;
}

#trio,
.simple-image:hover {
    opacity: 0;
}